<div class="container" xmlns="http://www.w3.org/1999/html">
  <h2 style="text-align: center"> Liste des personnes</h2>
  <div [formGroup]="form">
    <input type="text" class="form-control" formControlName="nom" />
    <div style="float: right">
      <button (click)="openC = true">Ajouter</button>
      <button (click)="find()">chercher</button>
    </div>
  </div>

  <div class="flex" style="clear: both">
    <div *ngFor="let person of persons">
      <app-person [person]="person" (delete)="delete($event)" (update)="update($event)"></app-person>
    </div>
  </div>

</div>

<app-personform (save)="create($event)" (close)="openC = false" [open]="openC"></app-personform>
